{{ define "descriptions" }}
{{- range .Alerts.Firing }}
[FIRING] - {{ .Annotations.description }}
{{- end }}
{{- range .Alerts.Resolved }}
[RESOLVED] - {{ .Annotations.description }}
{{- end }}
{{ end }}
